name: Terratest

on:
  push:
    branches:
      - '!master'
  pull_request:
    branches:
      - master

jobs:
  terratest:
    name: Infrastructure Tests
    runs-on: ubuntu-latest
    env:
      working-directory: ./test

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.5
    - name: Install dependencies
      run: |
        go mod download
        go get -u golang.org/x/lint/golint
      working-directory: ${{env.working-directory}}
    - name: Run checks
      run: |
        go vet .
        golint .
      working-directory: ${{env.working-directory}}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-1
        role-skip-session-tagging: true
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        role-duration-seconds: 1800

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.14.2
        terraform_wrapper: false

    - name: Run Go Tests
      run: go test -v -timeout 30m
      working-directory: ${{env.working-directory}}
